<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
	<title>{{ if not .IsHome }}{{ .Title }}{{- with .Param "worktitle" }} &ndash; {{ . }}{{- end }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>
<body>
{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
<main>
<header>
	{{- if and ( isset .Params "author" ) ( not ( compare.Eq ( .Param "author" ) ( .Param "title" ) ) ) }}
	<span class="author">{{ .Param "author" }}'s</span>
	{{- end }}
	{{- if .Param "worktitle" }}
	{{- if .Parent.Param "worktitle" }}<span id="upperworktitle"><a href="{{ .Page.Parent.Parent.RelPermalink }}">{{ .Parent.Param "worktitle" }}</a></span>{{- end }}
	<span id="worktitle"><a href="{{ .Page.Parent.RelPermalink }}">{{ .Param "worktitle" }}</a></span>{{- end }}
	<h1 id="tag_{{ replaceRE "(\\s)" "-" .Title }}">{{ block "title" . }}{{ end }}</h1>
	{{ with .Param "subtitle" }}<h2 class="subtitle">{{ . }}</h2>{{- end }}
	{{ partial "eventdate.html" . -}}
	{{ partial "authordate.html" . -}}
	{{ partial "translation.html" . -}}
</header>
{{- if not .IsHome -}}
<nav>
<ul>
	{{- if .Param "worktitle" }}
	{{- $plus :=  add ( int ( .Param "order" ) ) 1 }}
	{{- $minus := sub ( int ( .Param "order" ) ) 1 }}
	{{- range .Parent.RegularPages }}
	{{- if eq ( .Param "order" ) $plus }}
	<li id="next"><a href="{{ .RelPermalink }}">{{ .Title }}<br>→</a></li>
	{{- else if eq ( .Param "order" ) $minus }}
	<li id="prev"><a href="{{ .RelPermalink }}">{{ .Title }}<br>←</a></li>
	{{- end }}
	{{- end }}
	{{- else if not .Parent.IsHome }}
<li id="parentlink"><a href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a></li>
	{{- end }}
	<li id="homelink"><a href="{{ .Site.Home.RelPermalink }}">Home</a></li>
</ul>
</nav>
{{- end }}
<article>
{{ if .Param "toc" }}{{ .TableOfContents }}{{ end }}
{{ block "main" . -}}
{{- .Content -}}
{{ end -}}
{{ if .Param "taglist" }}{{ partial "taglist.html" . }}{{ end -}}
</article>
</main>
{{ block "footer" . -}}
<footer>
	<a href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
	{{- if .Param "showrss" }}<br><br><a href="/index.xml"><img src="/rss.svg" style="max-height:1.5em" alt="RSS Feed" title="Subscribe via RSS for updates."></a>{{ end }}
</footer>
{{ end -}}
</body>
</html>
