header {
	text-align: center ;
}
header h1 {
	font-size: xx-large ;
}

h1 {
	font-size: large ;
}
h2 {
	font-size: normal ;
}
h3 {
	font-size: normal ;
}

.author,.authorshipdate {
	display: block ;
}

.hlink {
	display: none ;
	font-size: .8em ;
	text-decoration: none ;
}

h1:hover .hlink,
h2:hover .hlink,
h3:hover .hlink,
h4:hover .hlink,
h5:hover .hlink,
h6:hover .hlink { display: inline-block ; }

.docnum {
	font-size: small ;
	color: gray ;
}
